/**
 * @section Base Styles
 */

body {
	font-size: 125%;
	margin: 0 auto;
}

input,
textarea,
select,
button {
	font: inherit;
}

.btn {
	display: flex;
	padding: 2px 8px;
	width: fit-content;
	font-size: 0.88em;
	font-weight: 600;
	align-self: flex-end;
	text-transform: uppercase;

	&--active {
		border: 2px solid $textLight;
		background-color: $mainColor;
		color: $textLight;
		margin-top: auto;
	}

	&--submit {
		border: 2px solid;
		background-color: $textLight;
		color: $mainColor;
		padding: 6px 12px;
	}
}