.page-header {
    padding: 8px 15px 0 85px;
    background-color: $mainColor;

    &__container {
        background-color: $mainColor;
        color: $textLight;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include size1000 {
            flex-direction: column;
        }
    }

    &__left-side {
        display: flex;
        flex-direction: column;
    }

    &__right-side {
        display: flex;
        @include size1000 {
            align-self: flex-end;
        }
    }

    &__right-menu {
        display: flex;
        align-items: center;
        
    }
}

.header-navigation-left {
    display: inline;

    &__text {
        font-size: 0.7em;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 7px;
        display: inline;
        border-right: 1px solid;

    }

    &__text--border {
        border-right: none;
        padding-left: 0;
    }
}

.page-logo {
    display: flex;
    margin-top: 15px;
    padding-bottom: 50px;
    font-size: 1.58em;
    text-decoration: none;
    text-transform: uppercase;

    &__light {
        text-decoration: none;
        text-transform: uppercase;
        color: $textLight;
        font-weight: lighter;
    }

    &__bold {
        font-weight: 900;
    }
}

.header-navigation-right__text {
    font-weight: bold;
    font-size: 0.88em;
    color: $textLight;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 30px;
    padding-bottom: 20px;

    &:hover {
        color: $textDark;
    }
}